.alertBox {
	min-height: 50px;
	height: 50px;
}

.uploaddiv {
	padding-top: 20px;
}

#mapid {
	height: 180px;
}

.headingdiv {
	text-align: center;
}

.gotomap {
	margin-top: 20px;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.annotation-section {
	background-color: gray;
	margin-top: 10px;
}

button {
	margin: 20px !important;
}

radioClass {
	margin: 20px;
	padding: 20px;
}

