<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Campaign Detail - Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="role" content="manager">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>
<body>
	<div th:replace="../fragments/header :: header"></div>
	<div class="container">
		<div class="row alertBox">
			<div class="col-sm-10">
				<div th:if="${alert}">
					<p class="alert" th:classappend="${messageType}">
						<span th:text="${message}"></span>
					</p>
				</div>
			</div>
		</div>
		<div class="row headingdiv">
			<div class="col-sm-12 headingdiv">
				<h2>Campaign Statistics</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6" th:if="${validPeakCount} > 0">
				Number of annotation with valid peak : <span
					th:text="${validPeakCount}"></span>
			</div>
			<div class="col-sm-6" th:if="${invalidPeakCount} > 0">
				Number of annotation with invalid peak : <span
					th:text="${invalidPeakCount}"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<div th:object="${annotations}">
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Elevation</th>
								<th>Peak Validity</th>
								<th>Created By</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="annotation : ${annotations}">
								<td><span th:text="${annotation.name}"></span></td>
								<td><span th:text="${annotation.elevation}"></span></td>
								<td><span th:text="${annotation.peakValidity}"></span></td>
								<td><span th:text="${annotation.createdBy}"></span></td>
								<td><span th:text="${annotation.status}"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
	<script src="../js/app.js"></script>
</body>
</html>