<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Campaign Detail - Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="role" content="manager">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>
<body>
	<div th:replace="../fragments/header :: header"></div>
	<div class="container">
		<div class="row alertBox">
			<div class="col-sm-10">
				<div th:if="${alert}">
					<p class="alert" th:classappend="${messageType}">
						<span th:text="${message}"></span>
					</p>
				</div>
			</div>
		</div>
		<div class="row headingdiv">
			<div class="col-sm-12 headingdiv">
				<h2>Campaign Statistics</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<div th:object="${stats}">
					<table class="table">
						<thead>
							<tr>
								<th>Started Peaks</th>
								<th>Annotated Peaks</th>
								<th>Peak Rejected Annotations</th>
								<th>Conflicted Peaks</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span th:text="${stats.numPeaksStarted}"></span></td>
								<td><a href="#annotatedPeaks" data-toggle="collapse"><span
										th:text="${stats.numPeakAnnotated}"></span></a></td>
								<td><a href="#rejectedAnnotationPeaks"
									data-toggle="collapse"><span
										th:text="${stats.numPeakWithRejectedAnnotation}"></span></a></td>
								<td><a href="#conflitedPeaks" data-toggle="collapse"><span
										th:text="${stats.numOfConflicts}"></span></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row collapse" id="annotatedPeaks">
			<h3>Annotated Peaks</h3>
			<div class="col-sm-12">
				<ul>
					<li th:each="peak : ${stats.annotatedPeaks}"><a
						th:href="@{'/campaign-stats-detail?report=annotatedPeaks&peakId=' + ${peak.id}}"
						th:text="${peak.name}"></a></li>
				</ul>
			</div>
		</div>
		<div class="row collapse" id="rejectedAnnotationPeaks">
			<h3>Peaks with Rejected Annotation(s)</h3>
			<div class="col-sm-12">
				<ul>
					<li th:each="peak : ${stats.peaksWithRejectedAnnotations}"><a
						th:id="${peak.id}"
						th:href="@{'/campaign-stats-detail?report=rejectedAnnotations&peakId=' + ${peak.id}}"
						th:text="${peak.name}"></a></li>
				</ul>
			</div>
		</div>
		<div class="row collapse" id="conflitedPeaks">
			<h3>Peaks with Conflict</h3>
			<div class="col-sm-12">
				<ul>
					<li th:each="peak : ${stats.conflictedPeaks}"><a
						th:id="${peak.id}"
						th:href="@{'/campaign-stats-detail?report=conflictedPeaks&peakId=' + ${peak.id}}"
						th:text="${peak.name}"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
	<script src="../js/app.js"></script>
</body>
</html>