<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Campaign Detail - Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="role" content="manager">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/styles.css" />
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
	<div th:replace="../fragments/header :: header"></div>
	<div class="container">
		<div class="row alertBox">
			<div class="col-sm-10">
				<div th:if="${alert}">
					<p class="alert" th:classappend="${messageType}">
						<span th:text="${message}"></span>
					</p>
				</div>
			</div>
		</div>
		<div class="row headingdiv">
			<div class="col-sm-12 headingdiv">
				<h2>Campaign Detail</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<div class="row">
					<div class="col=sm-8">
						<form th:action="@{/update-campaign}" th:object="${campaignObj}"
							method="post">
							<div class="row">
								<div class="col-sm-10">
									<div class="form-group">
										<label for="name">Name:</label> <input type="text"
											class="form-control" id="name" name="name" readonly
											th:value="${campaignObj.name}">
									</div>
									<div class="form-group">
										<label for="startDate">Start Date:</label>
										<div th:if="${campaignObj.status} != 'CREATED'">
											<input type="text" class="form-control" id="startDate"
												readonly name="startDate"
												th:value="${campaignObj.startDate}">
										</div>
										<div th:if="${campaignObj.status} == 'CREATED'">
											<input type="text" class="form-control" id="startDate"
												name="startDate" th:value="${campaignObj.startDate}">
										</div>

									</div>
									<div class="form-group">
										<label for="endDate">End Date:</label>
										<div th:if="${campaignObj.status} != 'CREATED'">
											<input type="text" class="form-control" id="endDate" readonly
												name="endDate" th:value="${campaignObj.endDate}">
										</div>
										<div th:if="${campaignObj.status} == 'CREATED'">
											<input type="text" class="form-control" id="endDate"
												name="endDate" th:value="${campaignObj.endDate}">
										</div>
									</div>

									<div class="form-group">
										<label for="status">Status</label> <label class="form-control"
											id="status" th:text="${campaignObj.status}"></label>
									</div>
								</div>
							</div>
							<div class="row">
								<div th:if="${campaignObj.status} == 'CREATED'" class="col-sm-4">
									<input type="submit" name="button" class="btn btn-success"
										value="Update">
								</div>
								<div th:if="${campaignObj.status} == 'CREATED'" class="col-sm-4">
									<input type="submit" name="button" class="btn btn-primary"
										value="Start">
								</div>
								<div th:if="${campaignObj.status} == 'STARTED'" class="col-sm-4">
									<input type="submit" name="button" class="btn btn-danger"
										value="Close">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row uploaddiv">
					<div class="col-sm-10">
						<div th:if="${campaignStarted}">
							<form th:action="@{/upload-data}" enctype="multipart/form-data"
								th:object="${campaignObj}" method="post">
								<div class="form-group">
									<input type="file" class="form-control" id="fileUpload"
										name="fileUpload" th:required="required">
								</div>
								<input type="submit" name="button" class="btn btn-success"
									value="Annotate" /> <input type="submit" name="button"
									class="btn btn-danger" value="NoAnnotate" />
							</form>
						</div>
					</div>
				</div>
				<div th:if="${mapAvailable}" class="row gotomap">
					<div class="col-sm-5">
						<a href="/campaign-map" class="btn btn-success btn-lg">Go to
							Map</a>
					</div>
					<div class="col-sm-5">
						<a href="/campaign-stats" class="btn btn-success btn-lg">Go to
							Statistics</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
	<script src="../js/app.js"></script>
	<script>
		$(function() {
			$("#startDate").datepicker();
			$("#endDate").datepicker();

		});
	</script>

</body>
</html>