<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Campaign Detail - Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="role" content="worker">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>
<body>
	<div th:replace="../fragments/header :: header"></div>
	<div class="container">
		<div class="row alertBox">
			<div class="col-sm-10">
				<div th:if="${alert}">
					<p class="alert" th:classappend="${messageType}">
						<span th:text="${message}"></span>
					</p>
				</div>
			</div>
		</div>
		<div class="row headingdiv">
			<div class="col-sm-12 headingdiv">
				<h2>Campaign Detail</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<div class="row">
					<div class="col=sm-8">
						<form th:action="@{/update-campaign}" th:object="${campaignObj}"
							method="post">
							<div class="row">
								<div class="col-sm-10">
									<div class="form-group">
										<label for="name">Name:</label> <input type="text"
											class="form-control" id="name" name="name" readonly
											th:value="${campaignObj.name}">
									</div>
									<div class="form-group">
										<label for="startDate">Start Date:</label>
										<div>
											<input type="text" class="form-control" id="startDate"
												name="startDate" readonly
												th:value="${campaignObj.startDate}">
										</div>

									</div>
									<div class="form-group">
										<label for="endDate">End Date:</label>
										<div>
											<input type="text" class="form-control" id="endDate"
												name="endDate" readonly th:value="${campaignObj.endDate}">
										</div>
									</div>

									<div class="form-group">
										<label for="status">Status</label> <label class="form-control"
											id="status" th:text="${campaignObj.status}"></label>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div th:if="${mapAvailable}" class="row gotomap">
					<div class="col-sm-10">
						<a href="/campaign-map" class="btn btn-success btn-lg">Go to
							Map</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
	<script src="../js/app.js"></script>
</body>
</html>