<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Dashboard - Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="role" content="manager">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>
<body>
	<div th:replace="../fragments/header :: header"></div>
	<div class="container">
		<div class="row alertBox">
			<div class="col-sm-10">
				<div th:if="${alert}">
					<p class="alert" th:classappend="${messageType}">
						<span th:text="${message}"></span>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<h2>Campaigns</h2>
				<div th:if="${campaignList != null}">
					<ul class="list-group">
						<li class="list-group-item" th:each="item : *{campaignList}">
							<div class="row">
								<div class="col-sm-6">
									<a th:href="@{'/campaign-detail?name=' + ${item.name}}"><span
										th:text="${item.name}"></span></a>
								</div>
								<div class="col-sm-6">
									<span th:text="${item.status}"></span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-10">
						<h2>Create Campaign</h2>
					</div>
				</div>
				<form th:action="@{/campaign}" th:object="${campaignObj}"
					method="post">
					<div class="form-group">
						<label for="name">Name:</label> <input type="text"
							class="form-control" id="name" name="name">
					</div>
					<div class="form-group">
						<label for="startDate">Start Date:</label> <input type="text"
							class="form-control" id="startDate" name="startDate">
					</div>
					<div class="form-group">
						<label for="endDate">End Date:</label> <input type="text"
							class="form-control" id="endDate" name="endDate">
					</div>
					<button type="submit" class="btn btn-success">Create</button>
				</form>
			</div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
	<script src="../js/app.js"></script>
	<script>
		$(function() {
			$("#startDate").datepicker();
			$("#endDate").datepicker();

		});
	</script>
</body>
</html>