<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Dashboard - Worker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="role" content="worker">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>
<body>
	<div th:replace="../fragments/header :: header"></div>
	<div class="container">
		<div class="row alertBox">
			<div class="col-sm-10">
				<div th:if="${alert}">
					<p class="alert" th:classappend="${messageType}">
						<span th:text="${message}"></span>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h2>Started Campaigns</h2>
				<div th:if="${toEnroll != null}">
					<ul class="list-group">
						<li class="list-group-item" th:each="item : *{toEnroll}">
							<div class="row">
								<div class="col-sm-6">
									<a th:href="@{'/campaign-detail?name=' + ${item.name}}"><span
										th:text="${item.name}"></span></a>
								</div>
								<div class="col-sm-6">
									<span th:text="${item.status}"></span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6">
				<h2>Enrolled Campaigns</h2>
				<div th:if="${enrolled != null}">
					<ul class="list-group">
						<li class="list-group-item" th:each="item : *{enrolled}">
							<div class="row">
								<div class="col-sm-6">
									<a th:href="@{'/campaign-detail?name=' + ${item.name}}"><span
										th:text="${item.name}"></span></a>
								</div>
								<div class="col-sm-6">
									<span th:text="${item.status}"></span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
	<script src="../js/app.js"></script>
</body>
</html>