<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Peaks - Home Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>
<body>
	<div th:replace="../fragments/header :: header"></div>
	<div class="container">

		<div class="row">
			<div class="col-sm-10">
				<h1>Peaks - Home</h1>
			</div>
		</div>
		<div class="row alertBox">
			<div class="col-sm-10">
				<div th:if="${alert}" class="alert" th:classappend="${messageType}">
					<p>
						<span th:text="${message}"></span>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">

					<!-- Indicators -->
					<ul class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
						<li data-target="#myCarousel" data-slide-to="3"></li>
						<li data-target="#myCarousel" data-slide-to="4"></li>
						<li data-target="#myCarousel" data-slide-to="5"></li>
						<li data-target="#myCarousel" data-slide-to="6"></li>
					</ul>

					<!-- The slideshow -->
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="images/img1.jpg" alt="Los Angeles" width="800"
								height="400">
						</div>
						<div class="carousel-item">
							<img src="images/img2.jpg" alt="Chicago" width="800" height="400">
						</div>
						<div class="carousel-item">
							<img src="images/img3.jpg" alt="New York" width="800"
								height="400">
						</div>
						<div class="carousel-item">
							<img src="images/img4.jpg" alt="New York" width="800"
								height="400">
						</div>
						<div class="carousel-item">
							<img src="images/img5.jpg" alt="New York" width="800"
								height="400">
						</div>
						<div class="carousel-item">
							<img src="images/img6.jpg" alt="New York" width="800"
								height="400">
						</div>
						<div class="carousel-item">
							<img src="images/img7.jpg" alt="New York" width="800"
								height="400">
						</div>

					</div>

					<!-- Left and right controls -->
					<a class="carousel-control-prev" href="#myCarousel"
						data-slide="prev"> <span class="carousel-control-prev-icon"></span>
					</a> <a class="carousel-control-next" href="#myCarousel"
						data-slide="next"> <span class="carousel-control-next-icon"></span>
					</a>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-10">
						<h1>Sign In</h1>
					</div>
				</div>
				<form th:action="@{/user_security_check}" method="post">
					<div class="form-group">
						<label for="username">Username:</label> <input type="text"
							class="form-control" id="username" name="username">
					</div>
					<div class="form-group">
						<label for="password">Password:</label> <input type="password"
							class="form-control" id="password" name="password">
					</div>
					<!-- <div class="checkbox">
						<label><input type="checkbox"> Remember me</label>
					</div> -->
					<div class="row">
						<div class="col-sm-10">
							<button type="submit" class="btn btn-success">Login</button>
						</div>
					</div>

					<div class="form-group">
						<span><a href="/register">Register </a></span>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>