<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Campaign Detail - Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="role" content="manager">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
	integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
	crossorigin="" />

<link rel="stylesheet" type="text/css" href="../css/styles.css" />

</head>
<body>
	<script th:inline="javascript">
		/*<![CDATA[*/

		var campaign = [[${campaignObj}]];
		/*]]>*/
	</script>
	<div th:replace="../fragments/header :: header"></div>
	<div class="container">
		<div id="dialog" class="alert alert-success">
			<span id="alertMsg"></span>
		</div>
		<div class="row alertBox">
			<div class="col-sm-12">
				<div th:if="${alert}">
					<p class="alert" th:classappend="${messageType}">
						<span th:text="${message}"></span>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12">
						<div id="mapid" style="width: 1080px; height: 600px;"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div style="width: 1080px;">
							<h1>Annotations</h1>
							<div id="inspectAnnotationDiv"></div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div th:replace="../fragments/footer :: footer"></div>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
	<script src="../js/app.js"></script>
</body>

</html>