<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Peaks - Profile Update</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>
<body>
	<div th:replace="../fragments/header :: header"></div>
	<div class="container">
		<div class="row alertBox">
			<div class="col-sm-10">
				<div th:if="${alert}">
					<p class="alert" th:classappend="${messageType}">
						<span th:text="${message}"></span>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8"></div>
			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-10">
						<h1>Update Profile</h1>
					</div>
				</div>
				<form th:action="@{/profile-update}" th:object="${user}"
					method="post">
					<div class="form-group">
						<label for="username">Username:</label> <input type="text"
							readonly class="form-control" id="username" name="username"
							th:value="${user.username}">
					</div>
					<div class="form-group">
						<label for="password">New Password:</label> <input type="text"
							class="form-control" id="password" name="password">
					</div>
					<div class="form-group">
						<label for="email">Email:</label> <input type="email" readonly
							class="form-control" id="email" name="email"
							th:value="${user.email}">
					</div>
					<div class="form-group">
						<label for="role">Role:</label> <input type="text" readonly
							class="form-control" id="role" name="role"
							th:value="${user.role}">
					</div>
					<button type="submit" class="btn btn-success">Update
						Profile</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>