<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Peaks - Registration</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>
<body><div th:replace="../fragments/header :: header"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-10">
				<h1>Peaks - New User</h1>
			</div>
		</div>
		<div class="row alertBox">
			<div class="col-sm-10">
				<div th:if="${alert}">
					<p class="alert" th:classappend="${messageType}">
						<span th:text="${message}"></span>
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8"></div>
			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-10">
						<h1>Create Account</h1>
					</div>
				</div>
				<form th:action="@{/register}" th:object="${userObj}" method="post">
					<div class="form-group">
						<label for="username">Username:</label> <input type="text"
							class="form-control" id="username" name="username">
					</div>
					<div class="form-group">
						<label for="password">Password:</label> <input type="password"
							class="form-control" id="password" name="password">
					</div>
					<div class="form-group">
						<label for="email">Email:</label> <input type="email"
							class="form-control" id="email" name="email">
					</div>
					<div class="form-group">
						<label for="role">Role:</label> <select class="form-control"
							id="role" name="role">
							<option>MANAGER</option>
							<option>WORKER</option>
						</select>
					</div>
					<button type="submit" class="btn btn-success">Register</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>